.button {
  width: 100%;
  padding: rem(10px) 0;
  transition: $basic-transition;
  border-radius: rem(55px);
  text-align: center;

  &--primary,
  &--secondary {
    text-transform: uppercase;
  }

  &--primary {
    @include primary-gradient-background;

    border: unset;
    color: $white-500;
    font-weight: 600;

    &:hover {
      color: $black-100;
    }
  }

  &--secondary {
    background-color: $white-100;
    border: 1px solid $primary-dark;
    background-color: $white-100;
    color: $black-100;
    font-size: rem(14px);

    &:hover {
      background-color: $primary-dark;
      color: $white-500;
    }
  }
}
