.keywords-banner {
  display: flex;
  margin-top: 10%;

  &__logo {
    width: rem(50px);
  }

  &__title {
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 0;
    color: $pink;
    font-size: rem(24px);
    font-weight: 200;
  }

  &__hero {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: rem(40px);
    padding-left: rem(40px);
  }

  &__line {
    @include secondary-gradient-background;
    position: absolute;

    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
  }
}
