$primary-light: #ffa9a9;
$primary-dark: #a20202;
$primary: #d01659;

// Whites
$white-100: #eef1ff;
$white-500: #fff;

// Blacks
$black-100: #3d3c42;
$black-500: #000;

// Colors
$red: #f00;
$orange: #d38312;
$pink: #ff0f7b;

// Variables
$_auth-form-pads: 2.5rem 3.125rem 1.25rem; // 40px 50px 20px
